{{link-to 'Back' 'application'}}
<br>
<ul class="list-group">
{{#each leg in model}}
	<li class="list-group-item panel panel-default">
		<b>{{link-to leg.name 'legislator' leg.id}}</b>
		<br>
		<img {{bind-attr src=leg.img}}/>
		<div class="percentage pull-right">{{leg.percentage}}%</div>
		<br>
		{{leg.chamber}}
	</li>
{{/each}}
</ul>