{{title}} {{first_name}} {{middle_name}} {{last_name}}
<br>
{{#if facebook_id}}
	<img src="http://graph.facebook.com/v2.1/{{unbound facebook_id}}/picture?type=square"/>
{{/if}}
<br>
{{birthday}}
<br>
{{chamber}}
<br>
<a href="https://www.facebook.com/{{unbound facebook_id}}">Facebook</a>
<a href="https://www.youtube.com/{{unbound youtube_id}}">Youtube</a>
<a href="https://www.twitter.com/{{unbound twitter_id}}">Twitter</a>
<a href="{{unbound website}}">Website</a>
{{oc_email}}
{{party}}
{{state}}
